POSTGRES_DB_NAME=n8n
POSTGRES_DB_USER=n8n
POSTGRES_DB_PASSWORD=change-me
N8N_DB_POSTGRES_HOST=postgres
N8N_DB_POSTGRES_PORT=5432
N8N_DB_POSTGRES_SCHEMA=public
N8N_RUNNERS_ENABLED=true
N8N_BLOCK_ENV_ACCESS_IN_NODE=false
N8N_GIT_NODE_DISABLE_BARE_REPOS=true
